#about {
    width: 100%;
    padding-top: 70px;
    padding-bottom: 70px;
    background-color: #413755;
  }
  #about h1 {
    text-align: center;
    font-weight: 500px;
    font-size: 45px;
    color: black;
    margin-top: -10px;
    text-align: center;
    color: white;
    margin-top: -10px;
    font-size: 40px;
    font-weight: 500;
    font-family: cursive;
  }
  #user-detail-name{
    margin-top: 300px;
  }
  #user-detail-intro{
    font-size: 26px;
    font-family: cursive;
    line-height: 33px;
    color: rgb(204, 253, 236);
  }
  @media (max-width: 760px) {
    #about h1 {
      font-size: 32px;
    }
  }
  
  .aboutMain {
    width: 100%;
    margin-top: 300px;
    display: flex;
    margin-top: 10px;
    overflow: hidden;
    justify-content: space-around;
  }
  @media (max-width: 760px) {
    .aboutMain {
      flex-direction: column;
      justify-content: space-around;
    }
  }
  
  .aboutLeft {
    width: 40%;
    height: 40%;
    
  }
  @media (max-width: 760px) {
    .aboutLeft {
      width: 90%;
      margin: auto;
      margin-top: -40px;
    }
  }
  
  .aboutLeft > img {
    width: 500px;
    height: 500px;
    margin: auto;
    border-radius: 10%;
  }
  @media (max-width: 760px) {
    .aboutLeft > img {
      height: 350px;
      margin-top: 0px;
    }
  }
  @media (max-width: 600px) {
    .aboutLeft > img {
      height: 300px;
    }
  }
  @media (max-width: 390px) {
    .aboutLeft > img {
      height: 200px;
    }
  }
  
  .aboutRight {
    width: 50%;
    color: black;
  }
  @media (max-width: 760px) {
    .aboutRight {
      width: 90%;
      margin: auto;
    }
  }
  .aboutRight h1 {
    font-weight: 500px;
    font-size: 30px;
    margin-top: 95px;
  }
  @media (max-width: 390px) {
    .aboutRight h1 {
      font-size: 20px;
    }
  }
  @media (max-width: 760px) {
    .aboutRight h1 {
      margin-top: 5px;
    }
  }
  
  .aboutRight > p {
    font-size: 20px;
  }
  @media (max-width: 760px) {
    .aboutRight > p {
      font-size: 16px;
    }
  }