.githubStat {
    width: 100%;
    padding-top: 70px;
    padding-bottom: 70px;
    color: white;
    background-color: #313343;
}

#heading_PS{
    text-align: center;
    color: white;
    margin-top: -10px;
    font-size: 40px;
    font-weight: 500;
    font-family: cursive;
}