.backgroundIMG {
  /* background-image:
    url("https://miro.medium.com/v2/resize:fit:1400/0*ppksZ4leAG6MCsji"); */
  background-color: #313343;
  background-size: "cover";
  width: 100%;
  font-size: 50px;
  background-repeat: no-repeat;
  margin-top: 70px;
  display: flex;
  justify-content: space-evenly;
  padding-top: 50px;
  padding-bottom: 110px;
}

#homeDeveloper{
  height: 500px;
  margin-top: 20px;
}

.introName {
  font-size: 50px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  padding: 8px;
  color: white;
  font-family: cursive;
}

.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.icon {
  width: 70px;
  height: 70px;
  color: white;
}

#resume-button-2 {
  background-color: transparent;
  border: 0px;
}

@media only screen and (max-width: 650px) {
  #homeDeveloper {
    display: none;
  }
}