.backgroundIMG {
  background-image:
    url("https://wallpaperaccess.com/full/302495.jpg");
  background-size: "cover";
  width: 100%;
  font-size: 50px;
  background-repeat: no-repeat;
  margin-top: 70px;
  display: flex;
  justify-content: space-evenly;
  padding-top: 50px;
  padding-bottom: 110px;
}

.introName{
  font-size: 50px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  padding: 8px;
  color: white;
  font-family: cursive;
}

.contact{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 70px;
}

.icon{
  width: 70px;
  height: 70px;
  color: white;
}