   
   .skillss{
    width: 100%;
    margin: auto;
    padding: 100px 0px;
background-image: linear-gradient(to top,#83A1D9 , #FFFFFF);
background: linear-gradient(170deg, teal calc(30% + 1px), #D1D2D6 72%);
background: linear-gradient(350deg, #807DFE calc(30% + 1px), #FAFAFA 30%);
background: linear-gradient(350deg, #5779E5 calc(45% + 1px), #FAFAFA 45%);





color: black;

/* border: 5px solid red; */
   }



   .techsection {
    width:1000px;
    margin: auto;
    height: max-content;
    display: grid;
    grid-template-columns: repeat(6,1fr);
    gap: 35px;
    justify-content: space-between;align-items: center;
    text-align: center;
    /* background-color: var(--clr-bg); */
    /* height: 60vh; */
    /* max-height: 400px; */
  }
  .techsection img{
    width: 50%;
    margin: auto;
  }
  
  .techsection > div {
    /* width: 11%;
    height: 15vh;
    max-height: 140px; */
    /* float: left; */
    width: 90%;
    margin: auto;
    height: 100%;
    box-shadow: var(--shadow);
    z-index: 1;
    border-radius: 20px;
    /* margin: 2.5%; */
    padding: 2px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 0.5s ease 0s;
    border: 2px solid var(--clr-primary);
    background-color:whitesmoke;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    

  }
  .techsection > div:hover {
    background-color: var(--clr-bg);
    background-color: rgb(37, 37, 53);
    color: white;
    overflow: hidden;
    transform: scale(1.08);
    box-shadow: rgba(0, 0, 0, 0.36) 0px 10px 36px 0px,
      rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    border: 1px solid var(--clr-primary);
  }
  
  
  .techsection > div > svg {
    /* height: 50%;
    width: 50%; */
    /* font-size: 8vh; */
    color: black;
  }
  .techsection > div > h5 {
    /* position: relative;
    top: 8px; */
    background-color: transparent;
  }
  


     
@media all and (min-width: 780px) and (max-width: 1080px) {
  
   .techsection{
    width: 80%;
    margin: auto;
    grid-template-columns: repeat(4,1fr);
   }
  

  /* .techsection > div {
    width: 40%;
    margin-right: 5%;
    margin-bottom: 2%;
    height: 18vh;
  } */
}

@media all and (min-width: 480px) and (max-width: 780px) {
  
  .techsection{
   width: 80%;
   margin: auto;
   grid-template-columns: repeat(3,1fr);
  }
 

 /* .techsection > div {
   width: 40%;
   margin-right: 5%;
   margin-bottom: 2%;
   height: 18vh;
 } */
}


  
  
  @media all and (min-width: 320px) and (max-width: 480px) {

    .techsection{
      width: 80%;
      margin: auto;
      grid-template-columns: repeat(2,1fr);
      gap: 20px;
     }

     .techsection>div{
      height: 100px;
      width: 100px;
      padding: 10px;
     }

    

    /* .techsection > div {
      width: 40%;
      margin-right: 5%;
      margin-bottom: 2%;
      height: 18vh;
    } */
  
  }


  @media all and (min-width: 280px) and (max-width: 320px) {

    .techsection{
      width: 80%;
      margin: auto;
      grid-template-columns: repeat(2,1fr);
      gap: 20px;
      justify-content: space-between;
     }

     .techsection>div{
     width: 85px;
     height: 85px;
      padding: 10px;
     }

   

    

    /* .techsection > div {
      width: 40%;
      margin-right: 5%;
      margin-bottom: 2%;
      height: 18vh;
    } */
  
  }
    
  
  